asgiref==3.8.1
autopep8==2.3.1
Django==5.0.7
django-silk==5.1.0
gprof2dot==2024.6.6
gunicorn==22.0.0
packaging==24.1
psycopg2-binary==2.9.9
pycodestyle==2.12.1
sqlparse==0.5.1
tzdata==2024.1
django-silk==5.1.0